node_modules/
bower_components/
coverage/
.sass-cache/
.idea/
.tmp/
dist*/
.env
env-constants.js
npm-debug.log
viasocket-ui.iml
.DS_Store
.DS_Store*
viasocket.sublime-project
viasocket.sublime-workspace
error_shots
json-server.out
ui-server.out
