<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind-html="options.title"></h4>
      </div>
      <div class="modal-body">
        <h4 ng-bind-html="options.heading"></h4>
        <p ng-bind-html="options.subheading"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="answer(false)">{{options.cancelButtonText}}</button>
        <button type="button" class="btn btn-primary" ng-click="answer(true)">{{options.okButtonText}}</button>
      </div>
    </div>
  </div>
</div>
